.card-view {
  width: 162px;
  &__img {
    width: inherit;
    height: 210px;
    margin-bottom: 14px;
    border-radius: 4px;
  }
  &__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-align: left;
  }
  .cellName {
    display: inline-block;
    text-align: left;
    width: 50%;
    font-size: 12px;
    span {
      float: right;
    }
  }
}