.search-wrapper {
  @include flex($align: center);
  width: 400;
  box-shadow: none !important;
  border: 1px solid #ccc;
  padding: 2px 4px;
  margin-bottom: 20px;
  .search-input {
    flex: 1,
  }
  .search-icon {
    padding: 10px;
  }
  .search-divider {
    height: 28px;
    margin: 4px;
  }
}