.home-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 15px;
  .list {
    width: 100%;
    padding: 0 15px 0 15px;
    @include position($position: absolute, $top: 70px, $left: 0, $bottom: 15px);
    overflow: auto;
  }
}